docs/specifications/bank_services_billing_3/camt.086.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Feb 14 10:45:33, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.086.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.086.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AccountLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTM"/>
            <xs:enumeration value="SMRY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountLevel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTM"/>
            <xs:enumeration value="SMRY"/>
            <xs:enumeration value="DETL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountTax1">
        <xs:sequence>
            <xs:element name="ClctnMtd" type="BillingTaxCalculationMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rgn" type="Max40Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonResCtry" type="ResidenceLocation1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection34">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceAdjustment1">
        <xs:sequence>
            <xs:element name="Tp" type="BalanceAdjustmentType1Code"/>
            <xs:element name="Desc" type="Max105Text"/>
            <xs:element name="BalAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvrgAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ErrDt" type="ISODate"/>
            <xs:element name="PstngDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Days" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarngsAdjstmntAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceAdjustmentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LDGR"/>
            <xs:enumeration value="FLOT"/>
            <xs:enumeration value="CLLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BankServicesBillingStatementV03">
        <xs:sequence>
            <xs:element name="RptHdr" type="ReportHeader6"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BllgStmtGrp" type="StatementGroup3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Domn" type="BankTransactionCodeStructure5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="ProprietaryBankTransactionCodeStructure1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure5">
        <xs:sequence>
            <xs:element name="Cd" type="ExternalBankTransactionDomain1Code"/>
            <xs:element name="Fmly" type="BankTransactionCodeStructure6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure6">
        <xs:sequence>
            <xs:element name="Cd" type="ExternalBankTransactionFamily1Code"/>
            <xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamily1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingBalance1">
        <xs:sequence>
            <xs:element name="Tp" type="BillingBalanceType1Choice"/>
            <xs:element name="Val" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyTp" type="BillingCurrencyType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingBalanceType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalBillingBalanceType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BillingChargeMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UPRC"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="BCHG"/>
            <xs:enumeration value="DPRC"/>
            <xs:enumeration value="FCHG"/>
            <xs:enumeration value="LPRC"/>
            <xs:enumeration value="MCHG"/>
            <xs:enumeration value="MXRD"/>
            <xs:enumeration value="TIR1"/>
            <xs:enumeration value="TIR2"/>
            <xs:enumeration value="TIR3"/>
            <xs:enumeration value="TIR4"/>
            <xs:enumeration value="TIR5"/>
            <xs:enumeration value="TIR6"/>
            <xs:enumeration value="TIR7"/>
            <xs:enumeration value="TIR8"/>
            <xs:enumeration value="TIR9"/>
            <xs:enumeration value="TPRC"/>
            <xs:enumeration value="ZPRC"/>
            <xs:enumeration value="BBSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingCompensation1">
        <xs:sequence>
            <xs:element name="Tp" type="BillingCompensationType1Choice"/>
            <xs:element name="Val" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyTp" type="BillingCurrencyType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingCompensationType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalBillingCompensationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BillingCurrencyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCT"/>
            <xs:enumeration value="STLM"/>
            <xs:enumeration value="PRCG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BillingCurrencyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCT"/>
            <xs:enumeration value="STLM"/>
            <xs:enumeration value="PRCG"/>
            <xs:enumeration value="HOST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingMethod1">
        <xs:sequence>
            <xs:element name="SvcChrgHstAmt" type="AmountAndDirection34"/>
            <xs:element name="SvcTax" type="BillingServicesAmount1"/>
            <xs:element name="TtlChrg" type="BillingServicesAmount2"/>
            <xs:element maxOccurs="3" minOccurs="1" name="TaxId" type="BillingServicesTax1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingMethod1Choice">
        <xs:choice>
            <xs:element name="MtdA" type="BillingMethod1"/>
            <xs:element name="MtdB" type="BillingMethod2"/>
            <xs:element name="MtdD" type="BillingMethod3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BillingMethod2">
        <xs:sequence>
            <xs:element name="SvcChrgHstAmt" type="AmountAndDirection34"/>
            <xs:element name="SvcTax" type="BillingServicesAmount1"/>
            <xs:element maxOccurs="3" minOccurs="1" name="TaxId" type="BillingServicesTax1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingMethod3">
        <xs:sequence>
            <xs:element name="SvcTaxPricAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="3" minOccurs="1" name="TaxId" type="BillingServicesTax2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingMethod4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SvcDtl" type="BillingServiceParameters2"/>
            <xs:element name="TaxClctn" type="TaxCalculation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingPrice1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtd" type="BillingChargeMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rule" type="Max20Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingRate1">
        <xs:sequence>
            <xs:element name="Id" type="BillingRateIdentification1Choice"/>
            <xs:element name="Val" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DaysInPrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DaysInYr" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingRateIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalBillingRateIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BillingService2">
        <xs:sequence>
            <xs:element name="SvcDtl" type="BillingServiceParameters3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="BillingPrice1"/>
            <xs:element name="PmtMtd" type="ServicePaymentMethod1Code"/>
            <xs:element name="OrgnlChrgPric" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlChrgSttlmAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalReqrdAcctAmt" type="AmountAndDirection34"/>
            <xs:element name="TaxDsgnt" type="ServiceTaxDesignation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxClctn" type="BillingMethod1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServiceAdjustment1">
        <xs:sequence>
            <xs:element name="Tp" type="ServiceAdjustmentType1Code"/>
            <xs:element name="Desc" type="Max140Text"/>
            <xs:element name="Amt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalReqrdAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ErrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstmntId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubSvc" type="BillingSubServiceIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricChng" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlPric" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewPric" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VolChng" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlVol" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewVol" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlChrgAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewChrgAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServiceCommonIdentification1">
        <xs:sequence>
            <xs:element name="Issr" type="Max6Text"/>
            <xs:element name="Id" type="Max8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServiceIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubSvc" type="BillingSubServiceIdentification1"/>
            <xs:element name="Desc" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServiceIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubSvc" type="BillingSubServiceIdentification1"/>
            <xs:element name="Desc" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonCd" type="BillingServiceCommonIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BkTxCd" type="BankTransactionCodeStructure4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcTp" type="Max12Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServiceParameters2">
        <xs:sequence>
            <xs:element name="BkSvc" type="BillingServiceIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vol" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="AmountAndDirection34"/>
            <xs:element name="SvcChrgAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServiceParameters3">
        <xs:sequence>
            <xs:element name="BkSvc" type="BillingServiceIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vol" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServicesAmount1">
        <xs:sequence>
            <xs:element name="HstAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServicesAmount2">
        <xs:sequence>
            <xs:element name="HstAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServicesAmount3">
        <xs:sequence>
            <xs:element name="SrcAmt" type="AmountAndDirection34"/>
            <xs:element name="HstAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServicesTax1">
        <xs:sequence>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max40Text"/>
            <xs:element name="Rate" type="DecimalNumber"/>
            <xs:element name="HstAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServicesTax2">
        <xs:sequence>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max40Text"/>
            <xs:element name="Rate" type="DecimalNumber"/>
            <xs:element name="PricgAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingServicesTax3">
        <xs:sequence>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max40Text"/>
            <xs:element name="Rate" type="DecimalNumber"/>
            <xs:element name="TtlTaxAmt" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingStatement3">
        <xs:sequence>
            <xs:element name="StmtId" type="Max35Text"/>
            <xs:element name="FrToDt" type="DatePeriod1"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="Sts" type="BillingStatementStatus1Code"/>
            <xs:element name="AcctChrtcs" type="CashAccountCharacteristics3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RateData" type="BillingRate1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CcyXchg" type="CurrencyExchange6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Bal" type="BillingBalance1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Compstn" type="BillingCompensation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Svc" type="BillingService2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRgn" type="BillingTaxRegion2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalAdjstmnt" type="BalanceAdjustment1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcAdjstmnt" type="BillingServiceAdjustment1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BillingStatementStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORGN"/>
            <xs:enumeration value="RPLC"/>
            <xs:enumeration value="TEST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingSubServiceIdentification1">
        <xs:sequence>
            <xs:element name="Issr" type="BillingSubServiceQualifier1Choice"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingSubServiceQualifier1Choice">
        <xs:choice>
            <xs:element name="Cd" type="BillingSubServiceQualifier1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BillingSubServiceQualifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LBOX"/>
            <xs:enumeration value="STOR"/>
            <xs:enumeration value="BILA"/>
            <xs:enumeration value="SEQN"/>
            <xs:enumeration value="MACT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BillingTaxCalculationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NTAX"/>
            <xs:enumeration value="MTDA"/>
            <xs:enumeration value="MTDB"/>
            <xs:enumeration value="MTDC"/>
            <xs:enumeration value="MTDD"/>
            <xs:enumeration value="UDFD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingTaxIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VATRegnNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRegnNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCtct" type="Contact4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingTaxRegion2">
        <xs:sequence>
            <xs:element name="RgnNb" type="Max40Text"/>
            <xs:element name="RgnNm" type="Max40Text"/>
            <xs:element name="CstmrTaxId" type="Max40Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndgFI" type="BillingTaxIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcNb" type="Max40Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtdC" type="BillingMethod4"/>
            <xs:element name="SttlmAmt" type="AmountAndDirection34"/>
            <xs:element name="TaxDueToRgn" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountCharacteristics3">
        <xs:sequence>
            <xs:element name="AcctLvl" type="AccountLevel2Code"/>
            <xs:element name="CshAcct" type="CashAccount38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrntAcct" type="ParentCashAccount3"/>
            <xs:element name="CompstnMtd" type="CompensationMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtAcct" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DelydDbtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAdvc" type="Max105Text"/>
            <xs:element name="AcctBalCcyCd" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcyCd" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstCcyCd" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tax" type="AccountTax1"/>
            <xs:element name="AcctSvcrCtct" type="Contact4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CompensationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOCP"/>
            <xs:enumeration value="DBTD"/>
            <xs:enumeration value="INVD"/>
            <xs:enumeration value="DDBT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contact4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyExchange6">
        <xs:sequence>
            <xs:element name="SrcCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="TrgtCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max40Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmnts" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriod1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkSvcsBllgStmt" type="BankServicesBillingStatementV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionDomain1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionFamily1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionSubFamily1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBillingBalanceType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBillingCompensationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBillingRateIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max40Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ParentCashAccount3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Lvl" type="AccountLevel1Code"/>
            <xs:element name="Id" type="CashAccount38"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party43Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
            <xs:element name="FIId" type="FinancialInstitutionIdentification19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification138">
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element name="Id" type="Party43Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="CELL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1">
        <xs:sequence>
            <xs:element name="Cd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice"/>
            <xs:element name="Id" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReportHeader6">
        <xs:sequence>
            <xs:element name="RptId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResidenceLocation1Choice">
        <xs:choice>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="Area" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ServiceAdjustmentType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="NCMP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ServicePaymentMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BCMP"/>
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="PVCH"/>
            <xs:enumeration value="INVS"/>
            <xs:enumeration value="WVED"/>
            <xs:enumeration value="FREE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceTaxDesignation1">
        <xs:sequence>
            <xs:element name="Cd" type="ServiceTaxDesignation1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rgn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxRsn" type="TaxReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ServiceTaxDesignation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMPT"/>
            <xs:enumeration value="ZERO"/>
            <xs:enumeration value="TAXE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatementGroup3">
        <xs:sequence>
            <xs:element name="GrpId" type="Max35Text"/>
            <xs:element name="Sndr" type="PartyIdentification138"/>
            <xs:element maxOccurs="2" minOccurs="0" name="SndrIndvCtct" type="Contact4"/>
            <xs:element name="Rcvr" type="PartyIdentification138"/>
            <xs:element maxOccurs="2" minOccurs="0" name="RcvrIndvCtct" type="Contact4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BllgStmt" type="BillingStatement3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCalculation1">
        <xs:sequence>
            <xs:element name="HstCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TaxblSvcChrgConvs" type="BillingServicesAmount3"/>
            <xs:element name="TtlTaxblSvcChrgHstAmt" type="AmountAndDirection34"/>
            <xs:element maxOccurs="3" minOccurs="1" name="TaxId" type="BillingServicesTax3"/>
            <xs:element name="TtlTax" type="AmountAndDirection34"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxReason1">
        <xs:sequence>
            <xs:element name="Cd" type="Max10Text"/>
            <xs:element name="Expltn" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
