docs/specifications/account_switching_3/acmt.033.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Feb 14 10:35:22, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.033.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.033.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountSwitchDetails1">
        <xs:sequence>
            <xs:element name="UnqRefNb" type="Max35Text"/>
            <xs:element name="RtgUnqRefNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwtchRcvdDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwtchDt" type="ISODate"/>
            <xs:element name="SwtchTp" type="SwitchType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SwtchSts" type="SwitchStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTrfWndw" type="BalanceTransferWindow1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rspn" type="ResponseDetails1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSwitchNotifyAccountSwitchCompleteV02">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element name="AcctSwtchDtls" type="AccountSwitchDetails1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceTransferWindow1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYH"/>
            <xs:enumeration value="EARL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcctSwtchNtfyAcctSwtchCmplt" type="AccountSwitchNotifyAccountSwitchCompleteV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseDetails1">
        <xs:sequence>
            <xs:element name="RspnCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwitchStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="BTRQ"/>
            <xs:enumeration value="BTRS"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="REDT"/>
            <xs:enumeration value="REDE"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="REQU"/>
            <xs:enumeration value="TMTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwitchType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
