docs/specifications/cash_management_1/camt.021.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Oct 22 16:02:05, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.021.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.021.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrGnlBizInf" type="ReturnGeneralBusinessInformationV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GeneralBusinessInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Qlfr" type="InformationQualifierType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sbjt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessOrError7Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizRpt" type="GeneralBusinessReport6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessOrError8Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling5"/>
            <xs:element name="GnlBiz" type="GeneralBusinessInformation1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessReport6">
        <xs:sequence>
            <xs:element name="BizInfRef" type="Max35Text"/>
            <xs:element name="GnlBizOrErr" type="GeneralBusinessOrError8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InformationQualifierType1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IsFrmtd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="Priority1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader7">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
            <xs:enumeration value="LOWW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType4Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReturnGeneralBusinessInformationV06">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7"/>
            <xs:element name="RptOrErr" type="GeneralBusinessOrError7Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
