docs/specifications/cash_management_1/camt.007.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Oct 22 16:02:05, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.007.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.007.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="DtTmRg" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ModfyTx" type="ModifyTransactionV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EntryTypeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Instruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PBEN"/>
            <xs:enumeration value="TTIL"/>
            <xs:enumeration value="TFRO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LongPaymentIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"/>
            <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryTp" type="EntryTypeIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModifyTransactionV08">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Mod" type="TransactionModification5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification6Choice">
        <xs:choice>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="QId" type="QueueTransactionIdentification1"/>
            <xs:element name="LngBizId" type="LongPaymentIdentification2"/>
            <xs:element name="ShrtBizId" type="ShortPaymentIdentification2"/>
            <xs:element name="PrtryId" type="Max70Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentInstruction33">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Instr" type="Instruction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PaymentType4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="Priority1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgVldtyTm" type="DateTimePeriod1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BDT"/>
            <xs:enumeration value="BCT"/>
            <xs:enumeration value="CDT"/>
            <xs:enumeration value="CCT"/>
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="BKT"/>
            <xs:enumeration value="DCP"/>
            <xs:enumeration value="CCP"/>
            <xs:enumeration value="RTI"/>
            <xs:enumeration value="CAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentOrigin1Choice">
        <xs:choice>
            <xs:element name="FINMT" type="Max3NumericText"/>
            <xs:element name="XMLMsgNm" type="Max35Text"/>
            <xs:element name="Prtry" type="Max35Text"/>
            <xs:element name="Instrm" type="PaymentInstrument1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PaymentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBS"/>
            <xs:enumeration value="BCK"/>
            <xs:enumeration value="BAL"/>
            <xs:enumeration value="CLS"/>
            <xs:enumeration value="CTR"/>
            <xs:enumeration value="CBH"/>
            <xs:enumeration value="CBP"/>
            <xs:enumeration value="DPG"/>
            <xs:enumeration value="DPN"/>
            <xs:enumeration value="EXP"/>
            <xs:enumeration value="TCH"/>
            <xs:enumeration value="LMT"/>
            <xs:enumeration value="LIQ"/>
            <xs:enumeration value="DPP"/>
            <xs:enumeration value="DPH"/>
            <xs:enumeration value="DPS"/>
            <xs:enumeration value="STF"/>
            <xs:enumeration value="TRP"/>
            <xs:enumeration value="TCS"/>
            <xs:enumeration value="LOA"/>
            <xs:enumeration value="LOR"/>
            <xs:enumeration value="TCP"/>
            <xs:enumeration value="OND"/>
            <xs:enumeration value="MGL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="PaymentType3Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Priority1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Priority5Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Priority5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="LOWW"/>
            <xs:enumeration value="NORM"/>
            <xs:enumeration value="URGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QueueTransactionIdentification1">
        <xs:sequence>
            <xs:element name="QId" type="Max16Text"/>
            <xs:element name="PosInQ" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShortPaymentIdentification2">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionModification5">
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification6Choice"/>
            <xs:element name="NewPmtValSet" type="PaymentInstruction33"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
