docs/specifications/cash_management_1/camt.020.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Oct 22 16:02:05, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.020.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.020.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="BusinessInformationCriteria1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="GeneralBusinessInformationSearchCriteria1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="GeneralBusinessInformationReturnCriteria1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessInformationQueryDefinition3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlBizInfCrit" type="GeneralBusinessInformationCriteriaDefinition1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CharacterSearch1Choice">
        <xs:choice>
            <xs:element name="EQ" type="Max35Text"/>
            <xs:element name="NEQ" type="Max35Text"/>
            <xs:element name="CT" type="Max35Text"/>
            <xs:element name="NCT" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetGnlBizInf" type="GetGeneralBusinessInformationV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformationCriteriaDefinition1Choice">
        <xs:choice>
            <xs:element name="QryNm" type="Max35Text"/>
            <xs:element name="NewCrit" type="BusinessInformationCriteria1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformationReturnCriteria1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfrInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtDtlsInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformationSearchCriteria1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sbjt" type="CharacterSearch1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Qlfr" type="InformationQualifierType1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetGeneralBusinessInformationV04">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlBizInfQryDef" type="BusinessInformationQueryDefinition3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InformationQualifierType1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IsFrmtd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="Priority1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
            <xs:enumeration value="LOWW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL"/>
            <xs:enumeration value="CHNG"/>
            <xs:enumeration value="MODF"/>
            <xs:enumeration value="DELD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
