docs/specifications/cash_management_1/camt.018.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Oct 22 16:02:05, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.018.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.018.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessDayCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="BusinessDaySearchCriteria2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="BusinessDayReturnCriteria2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayCriteria3Choice">
        <xs:choice>
            <xs:element name="QryNm" type="Max35Text"/>
            <xs:element name="NewCrit" type="BusinessDayCriteria2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BusinessDayQuery2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Crit" type="BusinessDayCriteria3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayReturnCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysStsInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcyInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrPrdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnPrdInd" type="RequestedIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTpInd" type="RequestedIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDaySearchCriteria2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysId" type="SystemIdentification2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTp" type="SystemEventType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrPrd" type="DateTimePeriod1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="DtTmRg" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetBizDayInf" type="GetBusinessDayInformationV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetBusinessDayInformationV05">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizDayInfQryDef" type="BusinessDayQuery2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader9">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL"/>
            <xs:enumeration value="CHNG"/>
            <xs:enumeration value="MODF"/>
            <xs:enumeration value="DELD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType4Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RequestedIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEventType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="SystemEventType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SystemEventType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LVCO"/>
            <xs:enumeration value="LVCC"/>
            <xs:enumeration value="LVRT"/>
            <xs:enumeration value="EUSU"/>
            <xs:enumeration value="STSU"/>
            <xs:enumeration value="LWSU"/>
            <xs:enumeration value="EUCO"/>
            <xs:enumeration value="FIRE"/>
            <xs:enumeration value="STDY"/>
            <xs:enumeration value="LTNC"/>
            <xs:enumeration value="CRCO"/>
            <xs:enumeration value="RECC"/>
            <xs:enumeration value="LTGC"/>
            <xs:enumeration value="LTDC"/>
            <xs:enumeration value="CUSC"/>
            <xs:enumeration value="IBKC"/>
            <xs:enumeration value="SYSC"/>
            <xs:enumeration value="SSSC"/>
            <xs:enumeration value="REOP"/>
            <xs:enumeration value="PCOT"/>
            <xs:enumeration value="NPCT"/>
            <xs:enumeration value="ESTF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
