docs/specifications/cash_management_1/camt.019.001.07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2018 Oct 22 16:02:05, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.019.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.019.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessDay8">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SysId" type="SystemIdentification2Choice"/>
            <xs:element name="BizDayOrErr" type="BusinessDayReportOrError10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDay9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysSts" type="SystemStatus3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysInfPerCcy" type="SystemAvailabilityAndEvents3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayReportOrError10Choice">
        <xs:choice>
            <xs:element name="BizDayInf" type="BusinessDay9"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BusinessDayReportOrError9Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizRpt" type="BusinessDay8"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClosureReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="SystemClosureReason1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="DtTmRg" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrBizDayInf" type="ReturnBusinessDayInformationV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemEventType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader7">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType4Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReturnBusinessDayInformationV07">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7"/>
            <xs:element name="RptOrErr" type="BusinessDayReportOrError9Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAvailabilityAndEvents3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnPrd" type="TimePeriod1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Evt" type="SystemEvent3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClsrInf" type="SystemClosure2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemClosure2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="DateTimePeriod1Choice"/>
            <xs:element name="Rsn" type="ClosureReason2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemClosureReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BHOL"/>
            <xs:enumeration value="SMTN"/>
            <xs:enumeration value="NOOP"/>
            <xs:enumeration value="RCVR"/>
            <xs:enumeration value="ADTW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEvent3">
        <xs:sequence>
            <xs:element name="Tp" type="SystemEventType4Choice"/>
            <xs:element name="SchdldTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEventType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemEventType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemStatus2Choice">
        <xs:choice>
            <xs:element name="Cd" type="SystemStatus2Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SystemStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="CLSD"/>
            <xs:enumeration value="CLSG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemStatus3">
        <xs:sequence>
            <xs:element name="Sts" type="SystemStatus2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyTm" type="DateTimePeriod1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimePeriod1">
        <xs:sequence>
            <xs:element name="FrTm" type="ISOTime"/>
            <xs:element name="ToTm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
