docs/specifications/crossborder_transaction_currency_control_reporting_2/auth.019.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 05 10:41:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.019.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.019.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BenchmarkCurveName2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="BBSW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BenchmarkCurveName4Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Indx" type="BenchmarkCurveName2Code"/>
            <xs:element name="Nm" type="Max25Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BinaryFile1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MIMETp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InclBinryObjct" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashCollateral5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctId" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstTp" type="DepositType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element name="CollVal" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Hrcut" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CommunicationMethod4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="FAXI"/>
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="ONLI"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="SWMT"/>
            <xs:enumeration value="SWMX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contact4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractBalance1">
        <xs:sequence>
            <xs:element name="Tp" type="ContractBalanceType1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebit3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractBalanceType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalContractBalanceType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ContractClosureReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalContractClosureReason1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ContractCollateral1">
        <xs:sequence>
            <xs:element name="TtlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollDesc" type="CashCollateral5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max1025Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractRegistrationConfirmationV02">
        <xs:sequence>
            <xs:element name="GrpHdr" type="CurrencyControlHeader6"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RegdCtrct" type="RegisteredContract7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyControlHeader6">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="NbOfItms" type="Max15NumericText"/>
            <xs:element name="RcvgPty" type="PartyIdentification135"/>
            <xs:element name="RegnAgt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DepositType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FITE"/>
            <xs:enumeration value="CALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CtrctRegnConf" type="ContractRegistrationConfirmationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentGeneralInformation3">
        <xs:sequence>
            <xs:element name="DocTp" type="ExternalDocumentType1Code"/>
            <xs:element name="DocNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndrRcvrSeqId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkFileHash" type="SignatureEnvelopeReference"/>
            <xs:element name="AttchdBinryFile" type="BinaryFile1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification22">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact1NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExchangeRate1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="ExchangeRateType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExchangeRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SALE"/>
            <xs:enumeration value="AGRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalContractBalanceType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalContractClosureReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate4">
        <xs:sequence>
            <xs:element name="RefRate" type="BenchmarkCurveName4Choice"/>
            <xs:element name="Term" type="InterestRateContractTerm1"/>
            <xs:element name="BsisPtSprd" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InterestPaymentDateRange1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstSchdlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DueDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestPaymentDateRange2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstSchdlId" type="Max35Text"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="DueDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max1025Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InterestPaymentSchedule1Choice">
        <xs:choice>
            <xs:element name="DtRg" type="InterestPaymentDateRange1"/>
            <xs:element maxOccurs="unbounded" minOccurs="2" name="SubSchdl" type="InterestPaymentDateRange2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRate2Choice">
        <xs:choice>
            <xs:element name="Fxd" type="PercentageRate"/>
            <xs:element name="Fltg" type="FloatingInterestRate4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateContractTerm1">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalOrganisation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EstblishmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanContract2">
        <xs:sequence>
            <xs:element name="CtrctDocId" type="DocumentIdentification22"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Buyr" type="TradeParty5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sellr" type="TradeParty5"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="MtrtyDt" type="ISODate"/>
            <xs:element name="PrlngtnFlg" type="TrueFalseIndicator"/>
            <xs:element name="StartDt" type="ISODate"/>
            <xs:element name="SttlmCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpclConds" type="SpecialCondition1"/>
            <xs:element name="DrtnCd" type="Exact1NumericText"/>
            <xs:element name="IntrstRate" type="InterestRate2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Trch" type="LoanContractTranche1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSchdl" type="PaymentSchedule1Choice"/>
            <xs:element name="IntrstSchdl" type="InterestPaymentSchedule1Choice"/>
            <xs:element name="IntraCpnyLn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="ContractCollateral1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SndctdLn" type="SyndicatedLoan2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Attchmnt" type="DocumentGeneralInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanContractTranche1">
        <xs:sequence>
            <xs:element name="TrchNb" type="Number"/>
            <xs:element name="XpctdDt" type="ISODate"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DueDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrtnCd" type="Exact1NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastTrchInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1025Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max25Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentDateRange1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSchdlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DueDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentDateRange2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSchdlId" type="Max35Text"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpctdDt" type="ISODate"/>
            <xs:element name="DueDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentSchedule1Choice">
        <xs:choice>
            <xs:element name="DtRg" type="PaymentDateRange1"/>
            <xs:element maxOccurs="unbounded" minOccurs="2" name="SubSchdl" type="PaymentDateRange2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentScheduleType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PaymentScheduleType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PaymentScheduleType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="ESTM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="CELL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RegisteredContract7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCtrctRegnReq" type="Max35Text"/>
            <xs:element name="RptgPty" type="TradeParty5"/>
            <xs:element name="RegnAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="IssrFI" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element name="Ctrct" type="UnderlyingContract2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrctBal" type="ContractBalance1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSchdlTp" type="PaymentScheduleType1Choice"/>
            <xs:element name="RegdCtrctId" type="DocumentIdentification29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRegdCtrctId" type="DocumentIdentification22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RegdCtrctJrnl" type="RegisteredContractJournal2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Amdmnt" type="RegisteredContractAmendment1"/>
            <xs:element name="Submissn" type="RegisteredContractCommunication1"/>
            <xs:element name="Dlvry" type="RegisteredContractCommunication1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnPrncplAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="EstmtdDtInd" type="TrueFalseIndicator"/>
            <xs:element name="IntrCpnyLn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max1025Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegisteredContractAmendment1">
        <xs:sequence>
            <xs:element name="AmdmntDt" type="ISODate"/>
            <xs:element name="Doc" type="DocumentIdentification28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdmntRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max1025Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegisteredContractCommunication1">
        <xs:sequence>
            <xs:element name="Mtd" type="CommunicationMethod4Code"/>
            <xs:element name="Dt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegisteredContractJournal2">
        <xs:sequence>
            <xs:element name="RegnAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqId" type="DocumentIdentification28"/>
            <xs:element name="ClsrDt" type="ISODate"/>
            <xs:element name="ClsrRsn" type="ContractClosureReason1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShipmentDateRange1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstShipmntDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LatstShipmntDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShipmentDateRange2">
        <xs:sequence>
            <xs:element name="SubQtyVal" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstShipmntDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LatstShipmntDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShipmentSchedule2Choice">
        <xs:choice>
            <xs:element name="ShipmntDtRg" type="ShipmentDateRange1"/>
            <xs:element maxOccurs="unbounded" minOccurs="2" name="ShipmntSubSchdl" type="ShipmentDateRange2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelopeReference">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialCondition1">
        <xs:sequence>
            <xs:element name="IncmgAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="OutgngAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmgAmtToOthrAcct" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrOthrAcct" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SyndicatedLoan2">
        <xs:sequence>
            <xs:element name="Brrwr" type="TradeParty5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lndr" type="TradeParty5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Shr" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateInf" type="ExchangeRate1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxExemptReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxExemptionReasonFormat1Choice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max140Text"/>
            <xs:element name="Strd" type="TaxExemptReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxParty4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxXmptnRsn" type="TaxExemptionReasonFormat1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeContract2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctDocId" type="DocumentIdentification22"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Buyr" type="TradeParty5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sellr" type="TradeParty5"/>
            <xs:element name="MtrtyDt" type="ISODate"/>
            <xs:element name="PrlngtnFlg" type="TrueFalseIndicator"/>
            <xs:element name="StartDt" type="ISODate"/>
            <xs:element name="SttlmCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateInf" type="ExchangeRate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtSchdl" type="InterestPaymentDateRange1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShipmntSchdl" type="ShipmentSchedule2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Attchmnt" type="DocumentGeneralInformation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeParty5">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification135"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglOrg" type="LegalOrganisation2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxPty" type="TaxParty4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="UnderlyingContract2Choice">
        <xs:choice>
            <xs:element name="Ln" type="LoanContract2"/>
            <xs:element name="Trad" type="TradeContract2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
