docs/specifications/crossborder_transaction_currency_control_reporting_2/auth.027.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 05 10:41:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.027.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.027.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contact4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyControlGroupStatus2">
        <xs:sequence>
            <xs:element name="OrgnlRefs" type="OriginalMessage5"/>
            <xs:element name="RptgPty" type="TradeParty5"/>
            <xs:element name="RegnAgt" type="BranchAndFinancialInstitutionIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="StatisticalReportingStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StsRsn" type="ValidationStatusReason2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyControlHeader6">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="NbOfItms" type="Max15NumericText"/>
            <xs:element name="RcvgPty" type="PartyIdentification135"/>
            <xs:element name="RegnAgt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyControlPackageStatus2">
        <xs:sequence>
            <xs:element name="PackgId" type="Max35Text"/>
            <xs:element name="Sts" type="StatisticalReportingStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StsRsn" type="ValidationStatusReason2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RcrdSts" type="CurrencyControlRecordStatus2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyControlRecordStatus2">
        <xs:sequence>
            <xs:element name="RcrdId" type="Max35Text"/>
            <xs:element name="Sts" type="StatisticalReportingStatus1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StsRsn" type="ValidationStatusReason2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocId" type="DocumentIdentification28"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyControlStatusAdviceV02">
        <xs:sequence>
            <xs:element name="GrpHdr" type="CurrencyControlHeader6"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="GrpSts" type="CurrencyControlGroupStatus2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PackgSts" type="CurrencyControlPackageStatus2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CcyCtrlStsAdvc" type="CurrencyControlStatusAdviceV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericValidationRuleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalOrganisation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EstblishmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OriginalMessage5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlSndr" type="Party40Choice"/>
            <xs:element name="OrgnlMsgId" type="Max35Text"/>
            <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"/>
            <xs:element name="PrvtId" type="PersonIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party40Choice">
        <xs:choice>
            <xs:element name="Pty" type="PartyIdentification135"/>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="PHON"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="CELL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatisticalReportingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="RCVD"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RMDR"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="CRPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatusReason6Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxExemptReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxExemptionReasonFormat1Choice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max140Text"/>
            <xs:element name="Strd" type="TaxExemptReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxParty4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxXmptnRsn" type="TaxExemptionReasonFormat1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeParty5">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification135"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglOrg" type="LegalOrganisation2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxPty" type="TaxParty4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ValidationStatusReason2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification135"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="StatusReason6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VldtnRule" type="GenericValidationRuleIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
